[submodule "ext/bionic"]
	path = ext/bionic
	url = git://android.git.kernel.org/platform/bionic.git
[submodule "ext/astl"]
	path = ext/astl
	url = git://android.git.kernel.org/platform/external/astl.git
[submodule "astl"]
	path = astl
	url = /home/ml/jpitre5/workspace/HSAndroidApp/ext/astl/.git
[submodule "bionic"]
	path = bionic
	url = /home/ml/jpitre5/workspace/HSAndroidApp/ext/bionic/.git
